[submodule "MM/exploit/lib/forge-std"]
	path = MM/exploit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "securityAndAudit/havefun2/lib/solmate"]
	path = securityAndAudit/havefun2/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "securityAndAudit/havefun2/lib/openzeppelin-contracts"]
	path = securityAndAudit/havefun2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "securityAndAudit/havefun2/lib/forge-std"]
	path = securityAndAudit/havefun2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
